# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static files
/static/
/media/

# Virtual environment
venv/
env/
ENV/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Backup files
*.bak

# Secret key
*.secret

# Environment variables
.env

# Compiled translations
*.mo

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Environments
.venv
env/
datacon_env/
venv/
ENV/
env.bak/
venv.bak/